.advertisement
{
	width:100px;
	height:150px; 
	border-color:black;
	border-width:2px; 
	background-color:gray; 
	color:white;
	position:fixed;
	top:1%;
	left:1%;
}
.header
{
	padding: 5%;
	text-align: center;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	padding: 2%;
}
.header title{
	font-weight: bolder;
	margin-left: 50px;
}
.advertisement{
	position: absolute;
	top: 0;
	font-size: 12px;
	color: black;
	display: flex;
	justify-content: start;
	align-items: start;
	font-size: large;
}
.head{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	text-align: center;
}
.image {
	float: left;
	margin-right: 2%;
}  
.text {
	overflow: auto;
}
.image img{
	width: 150px;
	height: 200px;
}
.logo{
	float: left;
}
.logo img{
	width: 250px;
	height:100px
}
.content{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 2%;
	font-size: bolder;	
}
.content main{
	font-size: larger;
}